<div class="container mt-5">
  <h2 id="title">Add new skill</h2>
  <div class="col-sm-13">
    <div *ngIf="addSkill.touched" class="alert alert-info">
      <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
  </div>
  <form #addSkill="ngForm" (ngSubmit)="submitSkill()">

    <div class="form-group col-md-8 mt-4">
      <label>Skill name<span class="required"> *</span></label>
      <input type="text" class="form-control" required name="skill.skillName" [(ngModel)]="skill.skillName">
    </div>

    <button [disabled]="!addSkill.valid" class="btn btn-primary mt-4 " id="submit" >Save</button>
  </form>
</div>
