<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Konkurisi</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact']"><i class="fa fa-envelope"></i> Contact</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/question']"><i class="fa fa-question"></i> FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']"><i class="fa fa-info-circle"></i> About project</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/EditProfile']" routerLinkActive="router-link-active" ><i class="fa fa-user"></i> Edit profile</a>
      </li>
      <li  class="nav-item" routerLinkActive="active">
        <a *ngIf="!loggedIn()" class="nav-link" [routerLink]="['/register']"><i class="fa fa-user"></i> Register</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item">
        <a id="log" class="nav-link" (click)="logout()"><i class="fa fa-sign-out"></i> Log out</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown">
      <a id="link" class="text-light" >
        Welcome {{authService.decodedToken.unique_name}}
      </a>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="email" [(ngModel)]="model.email" required placeholder="Email">
      <input class="form-control mr-sm-2" type="password" name="password" [(ngModel)]="model.password" required placeholder="Password">
    
      <button [disabled]="!loginForm.valid" class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>