<div class="container">
  <h2 id="title">Register new account</h2>
  
  <form #newUser="ngForm" (ngSubmit)="registerAccount()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First name<span class="required"> *</span></label>
        <input type="email" required class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last name</label><span class="required"> *</span>
        <input type="text" required class="form-control" id="inputPassword4">
      </div>
    </div>
     <div class="form-group">
     <label for="inputAddress">Phone<span class="required"> *</span></label>
     <input type="number" class="form-control" required placeholder="+387 6x xxxx xxx">
     </div>
     <div class="form-group">
       <label for="inputAddress2">Email<span class="required"> *</span></label>
       <input type="email" class="form-control" required id="inputAddress2" placeholder="test@hotmail.com">
     </div>
     <div class="form-group">
       <label for="inputAddress2">Adress<span class="required"> *</span></label>
       <input type="text" class="form-control" required id="inputAddress2" placeholder="">
     </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Password<span class="required"> *</span></label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password confirm<span class="required"> *</span></label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Birth date<span class="required"> *</span></label>
        <input type="date" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Gender<span class="required"> *</span></label>
        <select id="inputState" class="form-control">
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputState">City<span class="required"> *</span></label>
        <select id="inputState" class="form-control">
        </select>
      </div>
    </div>
    <button [disabled]="!newUser.valid" type="submit" class="btn btn-primary mt-3">Register account</button>
  </form>
</div>