<div class="container">
  <h2 id="title">Send us a question</h2>
  
  <div class="col-sm-13">
    <div *ngIf="submitQuestion.dirty" class="alert alert-info">
      <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
  </div>

  <form #submitQuestion="ngForm" (ngSubmit)="sendQuestion()">
    
    <div class="form-group">
      <label>First name</label>
      <input type="email" class="form-control" readonly placeholder="{{user?.firstName}}">
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="email" class="form-control" readonly placeholder="{{user?.lastName}}">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" readonly placeholder="{{user?.email}}">
    </div>
    <div class="form-group">
      <label>Phone number</label>
     <input type="number" class="form-control" readonly placeholder="{{user?.phone}}">
    </div>
    <div class="form-group">
      <label>Subject</label><span class="required"> *</span>
     <input type="text" class="form-control" required placeholder="Subject of question" name="subject" [(ngModel)]="question.subject">
    </div>
    <div class="form-group">
      <label>Message</label><span class="required"> *</span>
     <textarea id="message" type="textarea" required class="form-control" name="message" [(ngModel)]="question.message"></textarea>
    </div>

    <button [disabled]="!submitQuestion.valid" id="submit" type="submit" class="btn btn-primary">Send</button>
  </form>

</div>
