<div class="container">
  <h2 id="title">Send us a question</h2>
  <form #submitQuestion="ngForm" (ngSubmit)="SendQuestion()">
    <div class="form-group">
      <label for="inputAddress">Email</label><span class="required"> *</span>
      <input type="email" class="form-control" required placeholder="test@hotmail.com">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Phone number</label><span class="required"> *</span>
     <input type="number" class="form-control" required placeholder="+387 6x xxxx xxx">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Subject</label><span class="required"> *</span>
     <input type="text" class="form-control" required placeholder="Subject of question">
    </div>
    <div class="form-group">
      <label>Message</label><span class="required"> *</span>
     <textarea id="message" type="textarea" required class="form-control" required placeholder=""></textarea>
    </div>

    <button [disabled]="!submitQuestion.valid" id="submit" type="submit" class="btn btn-primary">Send</button>
  </form>

</div>
