<div class="container mt-5">
  
  <div class="col-xs-12 col-md-10 mb-5">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" id="searchText" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-primary ml-3" type="button" id="findJob" onclick="fulltext();">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<div class="card flex-row flex-wrap" style="border: none">       
  <div class="row col-sm-12 col-md-3">
    <img src="/rest/profile/photo/wetrxamvcwus" data-src="/rest/profile/photo/wetrxamvcwus" class="lazyload img-fluid center" alt="img">
  </div>
  <div class="row col-sm-12 col-md-8 marginLO">
    <div class="card-block px-2">
          <h4 class="card-title marginTop3 text-center">Senior Software Engineer in Test</h4>
          <p>WeTransfer | Remote | 08/10/2020</p>				
          <p class="card-text" id="jobcode">Senior Software Engineer in Test 5+ years of experience ... <a href="/jobView/58awed62qwz91kpo9li3m018j" class="aNoDecor">(read more)</a></p>
          
          <div class="btn btn-primary mr-2">REST</div>
          <div class="btn btn-primary mr-2">JavaScript</div>
          <div class="btn btn-primary mr-2">Kubernetes</div>
          <div class="btn btn-primary mr-2">HTTP</div>
          <div class="btn btn-primary mr-2">Test Automation</div>
          <div class="btn btn-primary mr-2">BDD</div>
          <div class="btn btn-primary mr-2">Kubernetes</div>
          
        <div class="btn btn-warning marginTop4" style="font-weight:600">Senior</div>
      </div>
  </div> 
</div>
