<div class="container mt-5">
  <h2 id="title">Add new category</h2>
  <div class="col-sm-13">
    <div *ngIf="categoryForm.dirty" class="alert alert-info">
      <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
  </div>
  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <div class="form-group col-md-8 mt-4">
      <label>Category name<span class="required"> *</span></label>
      <input type="text" class="form-control" formControlName="spanCategoryName">
      <span class="text-danger" *ngIf="getFormControl.spanCategoryName.touched && getFormControl.spanCategoryName.errors?.required">
        Field 'Category name' is required.'
      </span>
    </div>
    <button class="btn btn-primary mt-4 " id="submit" >Save</button>
  </form>
</div>
