<div class="container mt-5">
  <h2 id="title">Add new job type</h2>
  <div class="col-sm-13">
    <div *ngIf="addJob.dirty" class="alert alert-info">
      <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
  </div>
  <form #addJob="ngForm" (ngSubmit)="addJobType()">
    <div class="form-group m-4">
      <label>Type name<span class="required"> *</span></label>
      <input class="form-control" name="jobType.jobTypeName" [(ngModel)]="jobType.jobTypeName">
    </div>
    <button [disabled]="!addJob.valid" class="btn btn-primary mt-4 " id="submit" >Save</button>
  </form>
</div>
