<div id="container" class="container mt-5">

  <h2>Admin options</h2>
  <div class="card mb-4">
    <h5 class="card-header">Add new city</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddCity']" routerLinkActive="router-link-active"  class="btn btn-primary ml-5">New city</button>
    </div>
  </div>

  <div class="card mb-4 ml-5">
    <h5 class="card-header">Add new job type</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddJobType']" routerLinkActive="router-link-active"  class="btn btn-primary ml-3">New job type</button>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Add new company</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddCompany']" routerLinkActive="router-link-active"  class="btn btn-primary ml-4">New company</button>
    </div>
  </div>

  <div class="card mb-4 ml-5">
    <h5 class="card-header">Add new category</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddCategory']" routerLinkActive="router-link-active"  class="btn btn-primary ml-3">New category</button>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">Add new job level</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddJobLevel']" routerLinkActive="router-link-active"  class="btn btn-primary ml-4">New job level</button>
    </div>
  </div>

  <div class="card mb-4 ml-5">
    <h5 class="card-header">Add new advertisment</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddAdvertisment']" routerLinkActive="router-link-active"  class="btn btn-primary ml-3">New advertisment</button>
    </div>
  </div>

  <div class="card mb-4">
    <h5 class="card-header">See all applications</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AllAplications']" routerLinkActive="router-link-active"  class="btn btn-primary ml-3">See all</button>
    </div>
  </div>
  
  <div class="card mb-4 ml-5">
    <h5 class="card-header">Add new skill</h5>
    <div class="card-body">
      <button class="submit" type="submit" [routerLink]="['/AddSkill']" routerLinkActive="router-link-active"  class="btn btn-primary ml-3">New skill</button>
    </div>
  </div>

</div>