<div class="container">

  <h2 id="title">FAQ</h2>

  <div class="content">
    <h3>What is Konkuriši.com?</h3>
    <p>Konkuriši.com is a web page which offers the opportunity to find a job as a software engineer in Bosnia and Herzegovina.</p>
  </div>

  <div class="content">
    <h3>What services Konkuriši.com offers?</h3>
    <p>Konkuriši.com offers job advertising and recruitment services, the personnel that do the recruitment process are software
      developers and can filter and check candidates technical knowledge as the position required, this can increase the quality
      of candidates, reduce interviews and save time for companies.</p>
  </div>

  <div class="content">
    <h3>How to create account on a Konkuriši.com?</h3>
    <p>At the top of the page there is a section "Register" and clicking on it will open a form for filling in basic information.</p>
  </div>
</div>

