<div class="container">

    <h2 id="title">About project</h2>

    <div class="content">
        <h3>Project goals</h3>
        <p>
            The idea is very simple.<strong> Focused, hard work is the key to success.</strong> Exercise, effort and work through the development of small projects to gain new knowledge,
            experience and first employment in the IT sector.
            I am currently learning to develop Angular projects and this is my ideal chance to show my abilities through my project.
        </p>
    </div>
    <div class="content">
        <h3>The idea of ​​a web page</h3>
        <p>
            Since I am looking for an opportunity for my first job in an IT company, I often search for job ads.
            I don't like the look of some pages, and some pages are complicated to use because of a lot of unnecessary stuff.
            Since I study and practice Angular, I decided to make my own job advertisement for jobs in the IT sector.
        </p>
    </div>
    <div class="content">
        <h3>About me</h3>
        <p>
            Final year of bachelor's studies at Faculty of information technologies in University of Džemal Bijedić in Mostar
            with only finish work remaining. Some of my interest include software development using the principles and
            methodologies of user experience design, web and mobile application design. Skilled in backend and frontend
            development. Strong fundamentals understanding the principles of object-oriented programming (OOP). <br><br>
            I am well familiar with the principles of working with .NET Core applications and databases especially relational 
            databases in MS SQL Server. I have modest experience working with ASP .NET MVC applications and REST API
            applications. I have a proficient knowledge of the principles of object-oriented programming (OOP) and agile
            software development processes. In addition to the listed good practices in software development, I had the 
            opportunity to use Azure DevOps, Git and Github to manage source code.
            I have solid knowledge of HTML, CSS, Java Script.<br><br> As a developer, my goal is to continuously develop my
             programming skills so that I can offer my employers and their clients the best solutions in the mentioned areas.
            Also, in addition to the desire of improving current knowledge, I am interested in learning and applying new 
            technologies and tools.
            For more information on the aforementioned code organization principles and projects, feel free to contact me by
            mail or chat on Linkedin or visit my GitHub profile. Please check out my personal portfolio and Github profile
            which I have placed below this letter.<br>
        </p>
        <strong>Email : </strong>
        <a href="mailto:almir.tihak98@hotmail.com" target="_blank">almir.tihak98@hotmail.com</a><br>
        <strong>Personal website : </strong>
        <a href="https://almir98.github.io/" target="_blank">https://almir98.github.io/</a><br>
        <strong>Linkedin profile : </strong>
        <a href="https://www.linkedin.com/in/almir-tihak/" target="_blank"> https://www.linkedin.com/in/almir-tihak/</a><br>
        <strong>GitHub profile : </strong>
        <a href="https://github.com/Almir98" target="_blank">https://github.com/Almir98</a><br><br>
        <strong>Source code of project : </strong>
        <a href="https://github.com/Almir98/JobSearch" target="_blank">https://github.com/Almir98/JobSearch</a><br>
    </div>
    <a class="btn btn-primary" href="https://github.com/Almir98/Almir98.github.io/blob/master/cv/CV-Almir-Tihak.pdf" target="_blank"><i class="fa fa-download"></i>Download CV</a>
</div>